@page "/colours/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@inject HttpInterceptorService _interceptor
@implements IDisposable

<h3 class="card-title">Car Colours</h3>

<a href="/colours/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Colour
</a>
<br />
<br />

@if (Colour == null)
{
    <div class="alert alert-info">Loading Colours...</div>
}
else
{
    <table class="table table-responsive">
        <thread>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            <tbody>
                @foreach (var colour in Colour)
                {
                    <tr>
                        <td>@colour.Name</td>
                        <td>
                            <a href="/colours/view/@colour.Id" class="btn btn-primary">
                                <span class="oi oi-book"></span>
                            </a>
                            <a href="/colours/edit/@colour.Id" class="btn btn-warning">
                                <span class="oi oi-pencil"></span>
                            </a>
                            <button class="btn btn-danger" @onclick="() => Delete(colour.Id)">
                                <span class="oi oi-trash"></span>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </thread>
    </table>
}

@code {
    private List<Colour>? Colour;

    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
        Colour = await _client.GetFromJsonAsync<List<Colour>>($"{Endpoints.ColoursEndpoint}");
    }

    async Task Delete(int id)
    {
        if (Colour != null)
        {
            var colour = Colour.First(m => m.Id == id);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Are you sure you want to delete {colour.Name}?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.ColoursEndpoint}/{id}");
                await OnInitializedAsync();
            }
        }
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}